@import url(normalize.css);
/*
  ========================================
  Fonts
  ========================================
*/
/*  -- Plain typeface --  */
@font-face {
  font-family: 'Plain-Thin';
  src: url("../fonts/Plain/Plain-Thin.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Plain-Light';
  src: url("../fonts/Plain/Plain-Light.otf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Plain-Regular';
  src: url("../fonts/Plain/Plain-Regular.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Plain-Medium';
  src: url("../fonts/Plain/Plain-Medium.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Plain-Bold';
  src: url("../fonts/Plain/Plain-Bold.otf");
  font-weight: 500;
  font-style: normal; }
/*
  ========================================
  Typography
  ========================================
*/
body {
  font-family: 'Plain-Regular', Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.7; }

.body-text {
  color: #000;
  font-size: 68px;
  line-height: 90px;
  letter-spacing: -1px;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .body-text {
      font-size: 30px;
      line-height: 50px;
      letter-spacing: 0px; } }

.text-rotate-1 {
  transform: rotate(-3deg); }

.text-rotate-2 {
  transform: rotate(-2deg);
  font-size: 85px;
  line-height: 105px; }
  @media all and (max-width: 800px) {
    .text-rotate-2 {
      font-size: 34px;
      line-height: 50px;
      letter-spacing: 0px;
      margin-top: 0px;
      margin-bottom: 50px; } }

ul {
  font-size: 50px;
  line-height: 110px;
  letter-spacing: -1px;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  @media all and (max-width: 800px) {
    ul {
      font-size: 30px;
      line-height: 60px;
      letter-spacing: 0px; } }

h2, h3, h4, h5, h6 {
  margin-bottom: 1.7; }

q {
  font-style: italic; }

strong {
  color: #000; }

/* text mouse selection style */
::selection {
  background-color: #000;
  color: #fff; }

.intro-text {
  margin-top: 13.5vmax;
  margin-bottom: 16vmax;
  font-family: 'Plain-Medium', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13.5vmax;
  line-height: 0.95em;
  letter-spacing: -5px;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .intro-text {
      letter-spacing: -2px;
      font-size: 25vw;
      margin-top: 9.5vmax;
      margin-bottom: 18vmax; } }
  @media all and (min-width: 1600px) {
    .intro-text {
      font-size: 15em; } }

.intro-text.is-on {
  color: #f9f9f9; }

/* cross word */
.p-cross {
  text-decoration: line-through; }

.pictograms {
  font-family: Arial !important; }

body {
  background: #fff;
  transition: background .3s ease-out; }

.body-hide-scroll-x {
  overflow-x: hidden; }

.bg-color-page {
  background: #fff;
  transition: background .3s ease-out; }

.bg-color-page.is-on {
  background-color: #000; }

/*
  ========================================
  Hero
  ========================================
*/
.hero {
  min-height: 100vh;
  padding-bottom: 100px;
  background-color: #f9f9f9;
  transition: padding-bottom .3s ease-out;
  transition: background-color .3s ease-out; }
  @media all and (max-width: 800px) {
    .hero {
      padding-bottom: 2vh; } }

.hero.is-on {
  background-color: #000; }

/*
  ========================================
  Paragraphs
  ========================================
*/
p {
  margin-bottom: 30vh; }
  @media all and (max-width: 800px) {
    p {
      margin-bottom: 130px; } }

.p-first {
  /* first p of each section */
  margin-top: 23vh; }
  @media all and (max-width: 800px) {
    .p-first {
      margin-top: 150px; } }

/*
  ========================================
  Divs / Containers
  ========================================
*/
.container {
  max-width: 86%;
  margin-right: auto;
  margin-left: auto; }

.container-half {
  max-width: 730px;
  margin-left: 8%;
  margin-right: 10%; }

.container-half-brands {
  max-width: 630px;
  margin-bottom: 50vh; }
  @media all and (max-width: 800px) {
    .container-half-brands {
      margin-bottom: 130px; } }

.container-right {
  margin-left: 50vw;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .container-right {
      margin-left: 8%;
      margin-right: 10%; } }

.container-2thirds {
  margin-left: 25vw;
  margin-right: 8%;
  max-width: 1200px;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .container-2thirds {
      margin-left: 8%;
      margin-right: 8%;
      margin-bottom: 130px; } }

.container-2thirds-left {
  /*margin-right: 20vw;*/
  margin-left: 8%;
  max-width: 1600px;
  transition: all .3s ease-out; }

/*
  ========================================
  Full bleed images
  ========================================
*/
/*scalable bg color*/
.full-bleed-image-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10vh;
  margin-bottom: 30vh;
  min-height: 700px;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .full-bleed-image-container {
      min-height: 450px;
      margin-bottom: 150px; } }

.bg-color-01 {
  background-color: #F7F7F7; }

/*scalable image*/
.full-bleed-image {
  background-position: bottom;
  height: 100%;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-out; }

.image-01 {
  background-image: url("../images/afr_squarespace_3.jpg");
  /* flower image */ }

.image-02 {
  background-image: url("../images/Huge_03.jpg");
  /* news */ }

/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  clear: both;
  *zoom: 1; }

/*
  ========================================
  Nav
  ========================================
*/
.header {
  margin-bottom: 5vh;
  padding-top: 70px;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .header {
      padding-top: 40px; } }

.main-nav {
  float: right;
  margin-top: 0px; }

.main-nav-link {
  display: inline-block;
  margin-right: 5vw;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .main-nav-link {
      margin-right: 10vw; } }

.main-link.is-on {
  color: #f9f9f9; }

.main-nav-link:last-of-type {
  margin-right: 10px; }

.link-header {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.7px;
  transition: all .3s ease-out; }

/*
  ========================================
  Logo
  ========================================
*/
.logo-link {
  float: left;
  width: 26px;
  height: auto;
  transition: all .3s ease-out; }
  .logo-link:hover {
    transform: rotate(120deg);
    transform-origin: 45% 64%; }

.afrlogo {
  fill: #000;
  transition: all .3s ease-out; }

.logo-link.is-on .afrlogo {
  fill: #f9f9f9; }

/*
  ========================================
  Footer
  ========================================
*/
.footer {
  margin-top: 23vh;
  margin-bottom: 200px;
  transition: all .3s ease-out; }
  @media all and (max-width: 800px) {
    .footer {
      margin-top: 70px;
      margin-bottom: 100px; } }

.hr-footer {
  border-top: 1px solid #000;
  opacity: 0.2; }

.logo-footer {
  font-size: 31px;
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px; }
  @media all and (max-width: 800px) {
    .logo-footer {
      margin-top: 70px; } }

/*
  ========================================
  Links
  ========================================
*/
.main-link {
  font-family: 'Plain-Regular', Helvetica, sans-serif;
  font-weight: 300;
  color: #000;
  opacity: 1;
  transition: all .3s ease-out; }

.link-cross {
  text-decoration: line-through; }

.main-link:hover,
.main-link:focus {
  opacity: .4; }

/*# sourceMappingURL=styles.css.map */
