/*
  ========================================
  Footer
  ========================================
*/

.footer{
  /*margin-top: 200px;*/
  margin-top: 23vh;
  /*margin-bottom: 150px;*/
  margin-bottom: 13vh;
  transition: all .3s ease-out;
} @media all and (max-width: 800px) {
    .footer{
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }

.hr-footer {
  border-top: 1px solid #000;
  opacity: 0.2;
}

.logo-footer {
  font-size: 31px;
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
} @media all and (max-width: 800px) {
    .logo-footer{
      margin-top: 70px;
    }
  }
