/*
  ========================================
  Links
  ========================================
*/

.main-link {
  font-family: 'Plain-Regular', Helvetica, sans-serif;
  font-weight: 300;
  color: $black;
  letter-spacing: 0.75px;
  opacity: 1;
  transition: #{$transition-01};
}
.link-social {
  // text-decoration: underline;
}

.link-cross {
  text-decoration: line-through;
}

.main-link:hover,
.main-link:focus {
opacity: .4;
}
