/*
  ========================================
  Nav
  ========================================
*/

.header {
  margin-bottom: 5vh;
  padding-top: 60px;
  transition: all .3s ease-out;
} @media all and (max-width: 800px) {
    .header{
      padding-top: 30px;
    }
  }

.main-nav {
  float: right;
  margin-top: -5px;
}

.main-nav-link {
  display: inline-block;
  margin-right: 5vw;
  transition: all .3s ease-out;
} @media all and (max-width: 800px) {
    .main-nav-link{
      margin-right: 10vw;
    }
  }

  .main-link.is-on {
  color:#f9f9f9;
  }

  .main-nav-link:last-of-type {
    margin-right: 0;
  }

  .link-header {
    text-decoration: none !important;
    transition: all .3s ease-out;
  }


  /*
    ========================================
    Logo
    ========================================
  */

.logo-link {
  float: left;
  width: 26px;
  height: auto;
  transition: all .3s ease-out;
}
  .logo-link:hover {
    transform: rotate(120deg);
    transform-origin: 45% 64%;
  }

.afrlogo {
  fill: #000;
  transition: all .3s ease-out;
}
.logo-link.is-on .afrlogo {
  fill: #f9f9f9;
}
